<mat-toolbar class="top-toolbar">
  <span class="toolbar-title">Player Grader</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <!-- Side Navigation -->
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <button mat-button routerLink="/adjust-weights" class="nav-button">
        <mat-icon>scale</mat-icon>
        Adjust Weights
      </button>
      <button mat-button routerLink="/player-grading" class="nav-button">
        <mat-icon>edit_note</mat-icon>
        Player Grading
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>







