.player-grading-container {
    max-width: 1200px; /* Adjust this value for your desired width */
    margin: 0 auto; /* Center the content */
    padding-right: 20px;
    padding-left: 20px;

  }
  
  .top-section {
    display: flex;
    justify-content: space-between;
    gap: 26px;
    padding-bottom: 40px;
  }
  
  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;

  }
  
  mat-card-header {
    background-color: #f5f5f5; 
    padding-top: 12px;
    border-bottom: 2px solid #ccc;
    justify-content: center;
    margin: 0;  
    min-height: 60px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
  
  mat-card-subtitle {
    font-size: 14px;
    color: #555;
  }
  mat-card-content {
    padding: 4px;
    text-align: center; /* Centers content within the card */
  }

  /* Styles for the stats rows */
.stats-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0; /* Adds spacing between rows */
    border-bottom: 1px solid #ccc; /* Adds a light separator between rows */
  }
  
  /* Styles for the title (left side) */
  .stats-title {
    font-size: 14px;
    color: #555;
  }
  
  /* Styles for the value (right side) */
  .stats-value {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    text-align: right;
  }
  
  
  .player-image {
    width: 100%;
    justify-content: center;
    object-fit: contain;
  }
  
  .grade-card h1 {
    text-align: center;
    font-size: 10rem;
    margin: 0;
    line-height: 2;
  }
  
  
  
  /* Sliders Section */
  app-player-sliders {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .notes-section {
    margin-top: 20px;
    width: 100%;
  }
  
  .notes-field {
    width: 100%;
  }
  