<div class="find-players-container">
    <!-- Search Bar -->
    <div class="search-bar">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Search for Players</mat-label>
          <input matInput (input)="onSearch($event)" placeholder="Enter player name" />
        </mat-form-field>
      </div>      
  
    <div class="main-content">
        <!-- Filter By Position -->
        <div class="filter-container">
            <h3>Filter by Position</h3>
            
            <mat-chip-list aria-label="Filter by Position" multiple>
                <mat-chip
                  *ngFor="let position of positions"
                  [selected]="selectedPositions.includes(position)"
                  (click)="togglePosition(position)"
                  selectable
                  class="position-chip"
                >
                  {{ position }}
                </mat-chip>
              </mat-chip-list>
              
          </div>
          
  
      <!-- Player Cards Section -->
      <div class="player-grid">
        <div *ngFor="let player of paginatedPlayers" class="player-card">
          <mat-card class="card player-info-card">
            <mat-card-header>
              <mat-card-title>{{ player.name }}</mat-card-title>
              <mat-card-subtitle>
                {{ player.position }} | {{ player.height }} | {{ player.weight }}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <img
                [src]="player.headshot || '/assets/placeholder-headshot.png'"
                alt="{{ player.name }}"
                class="player-image"
              />
            </mat-card-content>
          </mat-card>
        </div>
    </div>
</div>


        
<!-- Paginator -->
<div class="paginator-container">
    <mat-paginator
    [length]="filteredPlayers.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[12, 24, 36]"
    (page)="onPageChange($event)">
    </mat-paginator>
</div>



  

