.adjust-weights-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 60px;
    padding-left: 260px;
    padding-right: 340px;
  
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .apply-to-label {
        margin-right: 10px;
        font-weight: bold;
      }
  
      .position-dropdown {
        width: 200px;
      }
  
      .settings-button {
        margin-left: auto;
      }
    }
  
    .features-list {
      display: flex;
      flex-direction: column;
      gap: 60px;
  
      .feature-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
  
        .feature-label {
          flex: 0 0 150px; /* Reserve space for the label */
          font-weight: bold;
        }
  
        .slider-container {
            position: relative;
            display: flex;
            align-items: center;
            flex: 1;
          
            .horizontal-line {
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;
              height: 2px;
              background-color: #ccc;
              z-index: 1;
            }
          
            .importance-scale {
              display: flex;
              justify-content: space-between;
              width: 100%;
              z-index: 2;
          
              mat-radio-button {
                display: flex;
                flex-direction: column; /* Arrange radio button and label vertically */
                align-items: center;
                position: relative;
                background: white; /* Prevent overlap issues */
                z-index: 2;
          
                .radio-label {
                  font-size: 12px;
                  margin-top: 5px; /* Space between button and label */
                  text-align: center;
                }
              }
            }
          }
          
      }
    }
  
    .footer {
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }

      
  }
  